{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "deployCustomPolicyDefinitions": {
      "value": ${DEPLOY_CUSTOM_POLICY_DEFINITIONS}
    },
    "deployCustomPolicyInitiatives": {
      "value": ${DEPLOY_CUSTOM_POLICY_INITIATIVES}
    },
    "assignAllPolicyInitiatives": {
      "value": ${ASSIGN_ALL_POLICY_INITIATIVES}
    },
    "customPolicyDefinitions": {
      "value": ${CUSTOM_POLICY_DEFINITIONS_CONTENTS}
    },
    "customPolicyInitiatives": {
      "value": ${CUSTOM_POLICY_INITIATIVES_CONTENTS}
    }
  }
}