{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "creatManagementGroups": {
      "value": ${CREATE_MANAGEMENT_GROUPS}
    },
    "deployCustomPolicyDefinitions": {
      "value": ${DEPLOY_CUSTOM_POLICY_DEFINITIONS}
    },
    "deployCustomPolicyInitiatives": {
      "value": ${DEPLOY_CUSTOM_POLICY_INITIATIVES}
    },
    "assignCustomPolicyInitiatives": {
      "value": ${ASSIGN_CUSTOM_POLICY_INITIATIVES}
    },
    "assignBuiltInPolicyInitiatives": {
      "value": ${ASSIGN_BUILTIN_POLICY_INITIATIVES}
    },
    "customPolicyDefinitions": {
      "value": ${CUSTOM_POLICY_DEFINITIONS_CONTENTS}
    },
    "customPolicyInitiatives": {
      "value": ${CUSTOM_POLICY_INITIATIVES_CONTENTS}
    },
    "builtInInitiatives": {
      "value": ${BUILTIN_POLICY_INITIATIVES_CONTENTS}
    }
  }
}