{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "creatManagementGroups": {
      "value": ${CREATE_MANAGEMENT_GROUPS}
    },
    "managementGroupNamesToCreate": {
      "value": ${MG_MANAGEMENT_GROUPS_TO_CREATE}
    },
    "parentManagementGroupName": {
      "value": ${MG_PARENT_MANAGEMENT_GROUP_NAME}
    }
  }
}

